asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.1
decorator==5.1.1
Django==5.1.6
django-bootstrap5==24.3
django-debug-toolbar==4.4.6
djlint==1.36.2
EditorConfig==0.12.4
executing==2.1.0
fancycompleter==0.9.1
gunicorn==23.0.0
ipdb==0.13.13
ipython==8.32.0
jedi==0.19.2
jsbeautifier==1.15.1
json5==0.10.0
matplotlib-inline==0.1.7
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pdbpp==0.10.3
pillow==11.1.0
prompt_toolkit==3.0.48
pure_eval==0.2.3
Pygments==2.18.0
pyreadline==2.1
pyrepl==0.9.0
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.2
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
tzdata==2025.1
wcwidth==0.2.13
whitenoise==6.8.2
wmctrl==0.5
