{% extends "base_landing_page.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  Cadastre-se
{% endblock title %}
{% block body %}
  <main class="form-register bg-white px-5 py-3 border border-dark rounded w-100 m-auto">
    <div class="logo text-center">
      <img src="{% static '/images/Logo.png' %}"
           alt="TudoList Logo"
           height="74"
           width="74" />
      <h1>Criar conta no TudoList</h1>
      <h6 class="text-black-50">A maneira mais rápida e simples de organizar suas tarefas</h6>
    </div>
    <form method="post"
          action="{% url 'register:signup' %}"
          class="needs-validation"
          novalidate>
      {% csrf_token %}
      {% bootstrap_form form layout="floating" %}
      {% bootstrap_button button_type="submit" content="Prosseguir" button_class="btn-dark" %}
    </form>
  </main>
{% endblock body %}
