{% extends 'base_generic.html' %}

{% block content %}
   <div class"toolbar" style="display: flex; justify-content: space-between; flex-direction: row;">
      <h2>Progresso Acadêmico</h2>
      <button type="button" style="width: auto;"><a href="{% url 'historico:adicionar_nota' %}">Adicionar Nota</a></button>
   </div> 
   <div class="card">
    <div class="card-body">
      <table class="table bordered" style="width: 100%;">
        <tr>
          <th>Disciplina</th>
          <th>Média</th>
          <th>Notas</th>
          <th>Desempenho</th>
        </tr>
      </tr>
      {% for disciplina, dados in progresso.items %}
        <tr>
          <td>{{ disciplina }}</td>
          <td>{{ dados.media }}</td>
          <td>
            <ul>
              {% for nota in dados.notas %}
                <li>{{ nota.tipo }}: {{ nota.nota }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% if dados.media < 50 %}
              <span style="color: red;">{{ dados.media }}%</span>
            {% else %}
              <span style="color: green;">{{ dados.media }}%</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      
      </table>
    </div>
  </div>
 
{% endblock %}
